[submodule "EllieAssist"]
	path = EllieAssist
	url = https://github.com/behemehal/EllieAssist
[submodule "stdlib"]
	path = Ellie-Standard-Library
	url = https://github.com/behemehal/Ellie-Standard-Library
